/* Za starije monitore */

@media only screen and (max-width: 1366px) {
    header {height: 100px;}
    #logo {height: 100px; width: 400px;}
    #logo img {height: 100px; width: 312px;}
    #social {height: 100px;}
    #social .fa {padding: 15px; font-size: 22px;}
    nav {top: 100px; height: 50px;}
    li a {font-size: 26px;}
    #slider {height: 3350px;}
    #skills {height: 775px;}
    .profession .fa {padding: 15px; height: 50px; font-size: 45px;}
    h1 {top: 35px; font-size: 40px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
    p {font-size: 22px; margin: 5px;}
    #gamedev {height: 1200px;}
    #games {height: 1000px;}
    #SCP {height: 275px; width: 85%;}
    #Init {height: 275px; width: 85%;}
    #Unknwn {height: 275px; width: 85%;}
    .gameLogo#Found {height: 275px; width: 275px;}
    .gameLogo#Alpha {height: 275px; width: 275px;}
    .gameLogo#Project {height: 275px; width: 275px;}
    #videos {height: 700px;}
    iframe {width:575px; height: 322px;}
    #about {height: 600px;}
    #about img {width: 225px; height: 225px; margin-top: 100px; border: 4px solid var(--crna);}
    footer a {font-size: 24px; margin: 15px;}
    label {font-size: 24px;}
    #news {font-size: 24px;}
    #submitnews {font-size: 24px;}
}

/* Za vece tablete */

@media only screen and (max-width: 1050px) {
    header {height: 75px;}
    #logo {height: 75px; width: 300px; left: 5px;}
    #logo img {height: 75px; width: 234px;}
    #social {height: 75px;}
    #social .fa {padding: 12px; font-size: 20px;}
    nav {top: 75px;}
    li a {font-size: 24px;}
    #slider {height: 2900px;}
    #skills {height: 650px;}
    .profession {height: 500px;}
    .profession .fa {padding: 12px; height: 40px; font-size: 35px;}
    h1 {top: 30px; font-size: 35px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
    p {font-size: 20px; margin: 3px;}
    #gamedev {height: 1100px;}
    #games {height: 900px;}
    #SCP {height: 250px; width: 90%;}
    #Init {height: 250px; width: 90%;}
    #Unknwn {height: 250px; width: 90%;}
    .gameLogo#Found {height: 250px; width: 250px;}
    .gameLogo#Alpha {height: 250px; width: 250px;}
    .gameLogo#Project {height: 250px; width: 250px;}
    #videos {height: 550px;}
    iframe {width:500px; height: 280px;}
    #about {height: 525px; width: 35%;}
    #about img {width: 175px; height: 175px; margin-top: 100px; border: 3px solid var(--crna);}
    footer a {font-size: 18px; margin: 10px;}
    label {font-size: 18px;}
    #news {font-size: 18px;}
    #submitnews {font-size: 18px;}
}

/* Za standardne tablete */

@media only screen and (max-width: 768px) {
    header {position: static;}
    #social .fa:hover {animation-name: none; color: var(--crna);}
    nav {top: 0px;}
    #slider {height: 2700px;}
    #skills {height: 700px; flex-direction: column; justify-content: flex-end; align-items: center;}
    .profession {height: 200px; width: 85%;}
    .profession#game {border: none;}
    .profession .fa {padding: 10px; height: 30px; font-size: 25px; border: 3px solid var(--crna);}
    h2 {font-size: 20px;}
    h3 {font-size: 20px;}
    p {font-size: 18px;}
    #gamedev {height: 1000px;}
    #games {height: 800px;}
    #SCP {height: 225px; width: 90%; border: 3px solid var(--crna);}
    #Init {height: 225px; width: 90%; border: 3px solid var(--crna);}
    #Unknwn {height: 225px; width: 90%; border: 3px solid var(--crna);}
    .gameLogo#Found {height: 225px; width: 225px;}
    .gameLogo#Alpha {height: 225px; width: 225px;}
    .gameLogo#Project {height: 225px; width: 225px;}
    #videos {height: 450px;}
    iframe {width:450px; height: 252px;}
    #about {height: 500px; width: 40%;}
    #about img {width: 150px; height: 150px; margin-top: 75px;}
    footer {height: 225px; flex-direction: column; justify-content: space-evenly;}
    footer a {font-size: 20px; margin: 5px;}
    footer a:hover {animation-name: none; color: var(--crvena);}
    label {font-size: 20px; display: block; text-align: center;}
    #news {font-size: 20px;}
    #submitnews {font-size: 20px;}
}

/* Za vece telefone */

@media only screen and (max-width: 600px) {
    header {height: 50px}
    #logo {height: 50px; width: 200px; left: 2px;}
    #logo img {height: 50px; width: 156px;}
    #social {height: 50px;}
    #social .fa {padding: 10px; font-size: 15px;}
    nav {height: 35px;}
    li a {font-size: 16px;}
    #slider {height: 2300px;}
    .profession {height: 200px; width: 85%;}
    .profession .fa {padding: 10px; height: 30px; font-size: 25px; border: 2px solid var(--crna);}
    h1 {top: 25px; font-size: 25px;}
    h2 {font-size: 18px;}
    h3 {font-size: 18px;}
    p {font-size: 16px; margin: 2px;}
    #gamedev {height: 700px;}
    #games {height: 600px; top: 100px;}
    #SCP {height: 175px; width: 95%;}
    #Init {height: 175px; width: 95%;}
    #Unknwn {height: 175px; width: 95%;}
    .gameLogo#Found {height: 175px; width: 175px;}
    .gameLogo#Alpha {height: 175px; width: 175px;}
    .gameLogo#Project {height: 175px; width: 175px;}
    #videos {height: 400px;}
    iframe {width:350px; height: 196px;}
    #about {height: 475px; width: 45%;}
    #about img {width: 125px; height: 125px; margin-top: 25px; border: 2px solid var(--crna);}
    footer {height: 200px;}
    footer a {font-size: 18px;}
    label {font-size: 18px;}
    #news {font-size: 18px;}
    #submitnews {font-size: 18px;}
}

/* Za standardne telefone */

@media only screen and (max-width: 450px) {
    #social .fa {padding: 7px; font-size: 12px;}
    #slider {height: 2060px;}
    #skills {height: 675px; flex-direction: column; justify-content: flex-end; align-items: center;}
    .profession .fa {padding: 7px; height: 20px; font-size: 15px;}
    h1 {top: 20px; font-size: 20px;}
    h2 {font-size: 16px;}
    h3 {font-size: 16px;}
    p {font-size: 3.55vw; margin: 1px;}
    #gamedev {height: 675px;}
    #games {height: 600px; top: 75px;}
    #SCP {height: 150px; width: 100%; border: 2px solid var(--crna); border-left: none; border-right: none;}
    #Init {height: 150px; width: 100%; border: 2px solid var(--crna); border-left: none; border-right: none;}
    #Unknwn {height: 150px; width: 100%; border: 2px solid var(--crna); border-left: none; border-right: none;}
    .gameLogo#Found {height: 150px; width: 150px; border-right: 2px solid var(--crna);}
    .gameLogo#Alpha {height: 150px; width: 150px; border-left: 2px solid var(--crna);}
    .gameLogo#Project {height: 150px; width: 150px; border-right: 2px solid var(--crna);}
    #videos {height: 300px;}
    iframe {width:250px; height: 139px;}
    #about {height: 385px; width: 50%;}
    #about img {width: 100px; height: 100px;}
    footer {height: 175px;}
    footer a {font-size: 16px;}
    label {font-size: 16px;}
    #news {font-size: 16px;}
    #submitnews {font-size: 16px;}
}