$crna: #000000;
$bela: #FFFFFF;
$siva: #666;
$crvena: #a12020;
$tekst: 'Squada One', cursive;
$naslov: 'Permanent Marker', cursive;
* {
	margin: 0px auto;
	padding: 0px;
}
html {
	scroll-behavior: smooth;
}
@keyframes transition {
    0% {
		color: $crna;
	}
    100% {
		color: $crvena;
	}
}
@keyframes transition2 {
    0% {
		color: $bela;
	}
    100% {
		color: $crvena;
	}
}
body {
	header {
		width: 100%;
		height: 100px;
		background-color: $crna;
		position: sticky;
		top: 0;
		z-index: 1;
		box-shadow: 3px 3px 5px $crna;
		#logo {
			width: 350px;
			height: 100px;
			position: absolute;
			left: 10px;
			img {
				width: 312px;
				height: 100px;
			}
		}
		#social {
			width: 45%;
			height: 100px;
			float: right;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			.fa {
				font-size: 24px;
				padding: 15px;
				color: $bela;
				text-decoration: none;
				text-align: center;
				border-radius: 10px;
				border-style: solid;
				border-width: 2px;
				border-color: $bela;
				&:hover {
					background-color: $bela;
					animation-name: transition;
    				animation-duration: 1.5s;
    				animation-fill-mode: forwards;
				}
			}
		}
	}
	nav {
		width: 100%;
		height: 75px;
		background-color: $bela;
		border-bottom: 4px solid $crna;
		position: sticky;
		top: 100px;
		z-index: 1;
		box-shadow: 3px 3px 5px $siva;
		ul {
			height: inherit;
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			li {
				list-style-type: none;
				a {
					text-decoration: none;
					color: $crna;
					font-family: $tekst;
					font-size: 32px;
					&:hover {
						animation-name: transition;
    					animation-duration: 1s;
   						animation-fill-mode: forwards;
					}
				}
			}
		}
	}
	#slider {
		width: 100%;
		height: 3550px;
		background-image: url(../img/GamePattern.png);
		background-repeat: space;
		background-size: cover;
		#skills {
			width: 100%;
			height: 850px;
			display: flex;
			justify-content: space-evenly;
			align-items: flex-end;
			position: relative;
			.profession {
				width: 30%;
				height: 650px;
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				align-content: flex-start;
				.fa {
					padding: 20px;
					height: 60px;
					font-size: 55px;
					border-radius: 50%;
					border: 5px solid $crna;
					&:hover {
						color: $bela;
						background-color: $crna;
					}
				}
			}
			.profession#game {
				border-left: 5px solid $crna;
				border-right: 5px solid $crna;
			}
		}
		.important {
			color: $crvena;
			font-style: normal;
		}
		#gamedev {
			width: 100%;
			height: 1250px;
			position: relative;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			#games {
				width: inherit;
				height: 1100px;
				position: absolute;
				top: 150px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				#SCP {
					width: 80%;
					height: 325px;
					border: 4px solid $crna;
					box-shadow: 3px 3px 5px $siva;
					.gameLogo#Found {
						width: 325px;
						height: 325px;
						background-image: url('../img/SCPLogo.jpg');
						background-repeat: no-repeat;
						background-size: cover;
						float: left;
						border-right: 4px solid $crna;
						&:hover {
							background-image: url('../img/SCPAction.gif');
						}
					}
				}
				#Init {
					width: 80%;
					height: 325px;
					border: 4px solid $crna;
					box-shadow: 3px 3px 5px $siva;
					.gameLogo#Alpha {
						width: 325px;
						height: 325px;
						background-image: url('../img/InitLogo.jpg');
						background-repeat: no-repeat;
						background-size: cover;
						float: right;
						border-left: 4px solid $crna;
						&:hover {
							background-image: url('../img/InitAction.gif');
						}
					}
				}
				#Unknwn {
					width: 80%;
					height: 325px;
					border: 4px solid $crna;
					box-shadow: 3px 3px 5px $siva;
					.gameLogo#Project {
						width: 325px;
						height: 325px;
						background-image: url('../img/NoNameLogo.jpg');
						background-repeat: no-repeat;
						background-size: cover;
						float: left;
						border-right: 4px solid $crna;
						&:hover {
							background-image: url('../img/NoNameAction.gif');
						}
					}
				}
			}
		}
		#videos {
			width: 100%;
			height: 650px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			iframe {
				width: 650px;
				height: 364px;
				margin: 10px;
				border: 4px solid $crna;
				box-shadow: 3px 3px 5px $siva;
			}
		}
		#about {
			width: 30%;
			height: 700px;
			position: relative;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: column;
			img {
				width: 250px;
				height: 250px;
				border: 5px solid $crna;
				margin-top: 150px;
				border-radius: 10px;
				&:hover {
					filter: grayscale(100%);
				}
			}
		}
	}
	h1 {
		position: absolute;
		top: 50px;
		font-size: 50px;
		font-family: $naslov;
	}
	h2 {
		font-family: $naslov;
		color: $crvena;
		text-align: center;
		font-weight: normal;
	}
	h3 {
		color: $bela;
		font-family: $tekst;
		font-size: 28px;
		font-weight: normal;
	}
	p {
		font-family: $tekst;
		font-size: 28px;
		margin: 10px;
	}
	footer {
		width: 100%;
		height: 100px;
		background-image: url(../img/prism.png);
		display: flex;
		align-items: center;
		box-shadow: 3px 3px 5px $siva;
		label {
			color: $bela;
			font-family: $tekst;
			font-size: 26px;
		}
		#news {
			font-family: $tekst;
			font-size: 24px;
		}
		#submitnews {
			font-family: $tekst;
			font-size: 24px;
		}
		a {
			text-decoration: none;
			color: $bela;
			font-size: 24px;
			font-family: $tekst;
			margin-right: 20px;
			&:hover {
				animation-name: transition2;
    			animation-duration: 1s;
    			animation-fill-mode: forwards;
			}
		}
	}
}